@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@100;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.page-wrapper {
  padding: 0 100px;
  background-color: rgb(194, 194, 194);
  z-index: -1;
  padding-bottom: 50px;
}

/* Hero Section */
.hero {
  width: 100%;
  height:500px;
}

.hero-img {
  width: 100%;
  height: 500px;
  background-image: url('./assets/hero-image.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  left: 0; top: 0;
  z-index: 1;
  filter: blur(3px) brightness(70%);
}

.hero-content {
  width: 100%;
  z-index: 20;
  position: relative;
  left: 30px; top: -300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.hero-subject {
  font-size: 2em;
  margin: 5px;
  padding: 0;
}

.hero-subtitle {
  font-size: 1.2em;
  margin: 5px;
  padding: 0;
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  .page-wrapper {
    padding: 0 0;
  }
  .hero-title {
    font-size: 3.7em;
  }
}

@media only screen and (min-width: 1401px) {
  .hero-title {
    font-size: 4em;
  }
}

/* Post list section */
.post-list-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 0 0 10px 10px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
}

.post-list-title {
  font-weight: 100;
}

.post-card {
  border-bottom: 2px solid gray;
  padding: 30px 0;
}

.post-card-title {
  font-weight: 100;
  font-size: 3em;
  margin: 0;
  transition: color 0.2s linear;
  color: black;
}

.post-card-subtitle, .post-card-subject {
  color: gray !important;
}

.post-link {
  text-decoration: none;
  color: gray;
}

.post-link:hover h2 {
  transition: all 0.2s linear;
  color: black;
}

.author-link {
  color: rgb(77, 77, 255);
  text-decoration: none;
}

.author-link:hover {
  color: rgb(77, 77, 255);
  border-bottom: 1px solid rgb(77, 77, 255);
}

/* Blogpost Section */
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 30px;
}

.post-container {
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-color: rgb(255, 255, 255);
}

.post-content {
  padding: 20px 100px;
}

.post-content h1 {
  font-size: 3em;
  font-weight: 100;
}

.post-body {
  font-size: 1.1em;
}

.backarrow {
  width: 50px;
  font-size: 1.5em;
}